<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <form action="{{ url_for('modify') }}" method="post">
        <label for="nationName">Enter the nation name: </label>
        <input type="text" id="nation_name" name="nation_name" required>
        <br>
        <label for="dropdown">SQL table to modify:</label>
        <select id="dropdown" name="table">
            <option value="infra">Infra</option>
            <option value="resources">Resources</option>
            <option value="user_info">User_info</option>
            <option value="user_mil">User_mil</option>
            <option value="user_stats">User_stats</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>

    <script></script>
</body>
</html>